<%= link_to blog_path(blog)do %>
  <div class="card post-wrapper">
    <div class="card-block">
      <h4><%=blog.title%></h4>
      <small><em>Publish: <%= distance_of_time_in_words(blog.created_at, Time.now) %>ago by: <%= User.first.name%></em></small> 
      <p><%=truncate(blog.body, length: 300, separator: '')%></p>
    </div>
  </div>
  <div class="spacer"></div>  
<% end %>

 
  