<h1>Show Portfolio Item</h1>
<%= image_tag @portfolio_item.main_image if !@portfolio_item.main_image.nil?%>
<p><b>Title: </b><%= @portfolio_item.title%></p>
<p><b>Subtitle: </b><%= @portfolio_item.subtitle%></p>
<p><b>Body: </b><%= @portfolio_item.body%></p>
<p><b>Technology:</b></p>
<%if @portfolio_item.technologies.exists? %>
  <% @portfolio_item.technologies.each do |t|%>
   <p><em><%= t.name%></em></p>
  <% end %>
<% else %>
  <p>There are no technology in used</p>
<% end %>
  
   
