<div class="container">
  <div class="row">
    <div class="col-md-7">
      <%= image_tag @portfolio_item.main_image if !@portfolio_item.main_image.nil?%>
    </div>
    <div class="col-md-5">
      <h1><%= @portfolio_item.title%></h1>
      <em><small><%= time_ago @portfolio_item.created_at%></small></em>
      <hr>
      <em><%= @portfolio_item.subtitle%></em>
      <p><%= @portfolio_item.body%></p>
      <%if @portfolio_item.technologies.exists? %>
        <% @portfolio_item.technologies.each do |t|%>
         <p><em><%= t.name%></em></p>
        <% end %>
      <% else %>
        <p>There are no technology in used</p>
      <% end %>
      
    </div>
  </div>
</div>