<h1>Home Page</h1>
<h2>Blogs <%= Blog.count%></h2>
<%= @posts.inspect%>
<hr>

<h2>Skill <%= Skill.count%></h2>
<%= @skills.inspect%>
<hr>

<h2>Portfolio <%= Portfolio.count%></h2>
<%= @portfolios.inspect%>

  <% if user_signed_in?%>
    <h4> <%= User.first.email%> </h4>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  <% else %>
    <h4><%= link_to 'Please login', new_user_session_path%></h4>
  <% end %>
