<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title%></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <meta name="keywords" content= "<%= @seo_keywords %>" />
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'shared/google_font_opensans'%>
  </head>

  <body>
    <%= render 'shared/blog_nav'%>
    
    <div class="blog-header">
      <div class="container">
        <h1>Welcome to Traivan Blogs Hi, <%= current_user.first_name %> </h1>
        <p>You see many of best blogging here </p>
        <%if logged_in?(:site_admin)%>
          <%= link_to 'New Blog', new_blog_path%>
        <% end %>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-8 blog-main">

          <%= yield %>

          
        </div><!--end of col-md-8 -->
        
        <div class="col-sm-3 offset-sm-1 blog-sidebar">

          <%= render 'shared/blog_aside_bar'%>
          
        </div><!--end of aside bar-->
      </div><!--end of row-->
    </div><!--end of container class-->

    <%= render 'shared/blog_footer'%>
    <%= alerts %>
  </body>
</html>
